h1, h2, a{
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

body{
    background-color: grey;
}

img{
    margin-left: 270px;
}

.imagem{
    width: 60%;
    margin-left: 400px;
}